.GameCase {
    width: 400px;
    height: 400px;
    margin: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 8px 8px 5px #aaa; 

    text-shadow: 4px 4px 3px #000;
    color: white;
}

.GameList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screen{
    width: 50px;
    height: 50px;
    margin: 2px;

    box-shadow: 4px 4px 2px #000; 

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.list-of-screen{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}