@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

.title {
  font-family: 'Calistoga', cursive;
  color: white;
  position: relative;
  top: 66px;
  left: 15%;


}

.game-card {
  margin: 70px;
}

.game-card:hover {
 box-shadow: 10px 10px 5px grey;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game-container {
  background-color: #d8cece;
  display: block;
  flex-direction: row;
  width: 450px;
  height: 80vh;
  overflow-y: scroll;
  text-align: center;
  position: relative;
  top: 120px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
