
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}
a{
  text-decoration:none
}

.info{
  background-color: rgba(0,0,0,0.2);
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.carousel-caption {
  position: absolute;
  right: 0% !important;
  bottom: 0px !important;
  left: 0%!important;
  padding-bottom: 36px !important;
}


.carousel {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
.carousel img {
  position: absolute;
  left: 50%;
  top: 95%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.games_list_header {
  margin-top: 40px !important;
  text-align: center;
  padding: 30px 0;
}
.games_list_header h1 {
  text-transform: uppercase;
  letter-spacing: -1px ;
  font-weight: 600;
}
.game_container{
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.text {
  color: #fff;
  text-shadow: #343a40 2px 2px;
  min-width: 100%;
  min-height: 12em;
  position: relative;
  
}
.text h1 {
  font-size: 50px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.btns {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between; 
  width: 700px;
  color: white
}
.home_btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

