h2 {
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-align: left;
  color: white;
}

h1 {
  display: block;
  text-align: left;
  color: white;
}

.ui card {
  padding-top: 0.5vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
}

.logo img {
  height: 80px;
  text-align: center;
}

body {
  padding-top: 5vh;
  padding-left: 10vh;
  padding-right: 7vh;
  background: rgb(211,23,23);
  background: linear-gradient(
    90deg,
    rgba(75,76,81, 1) 0%,
    black 50%
  );
}

h2 {
  padding-top: 2vh;
  padding-bottom: 1vh;
  text-align: left;
  color: white;
}

h1 {
  display: block;
  text-align: left;
  color: white;
}

.ui card {
  padding-top: 0.5vh;
  padding-left: 0.5vh;
  padding-right: 0.5vh;
}

.logo img {
  height: 80px;
  text-align: center;
}

.switchbox {
display: flex;
position: relative;
justify-content: center;
margin: 7vh;
}

.switchbox h2 {
    padding: 0;
  text-align: center;
  color: white;
  margin: 15px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fc2c38;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fc2c38;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

