table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}
td, tbody
{
    border: 1px solid black;
    padding-top: 3px;
    margin:  5px 5px 5px 5px;
}

.game-list-title{
  padding-top: 15px;
  padding-bottom: 15px;
  margin:  5px 5px 5px 5px;
  color: white;
  font-size: 20px;
}


.display-games{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.game{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  padding-top: 3px;
  margin:  5px 5px 5px 5px;
  align-items: center;
  background-color: white;
  opacity: 0.9;
  border-radius: 5px;
}

.game-list{
  background-image: url("/game.jpg");
}

.image{
  max-height: 350px;
  max-width: 350px;
  border-radius: 5px;
}

.btn-filter{
  padding-top: 3px;
  margin:  5px 5px 5px 5px;
  padding-bottom: 3px;
  width: 10%;
  border-radius: 5px;
  background-color: white;
}

.btn{
  background-color: #36424D;
  color: white;
  padding-top: 3px;
  margin:  5px 5px 5px 5px;
  padding-bottom: 3px;
  width: 20%;
  border-radius: 5px;
}
