

.cell{
    width: calc(33% - 10px);
    text-align: center;
    margin: 5px ;
    padding-bottom: 10px;
    box-shadow:       1px 1px 5px #000;
}


 #star{
    min-width: 15px !important;
    min-height: 15px !important;;
}

p{
    color: honeydew
}


video, img{
    max-width: 400px;
    max-height: 120px;

    min-width: 200px;
    min-height: 200px;
    
}
