.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.img {
    margin: 80px;
    height: 400px;
    width: 700px;
}

.btn {
    position: absolute;
    margin-top: 20px;
    margin-left: 26%;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    background: rgb(194, 94, 94);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 18px;
    box-shadow: -1px 11px 24px -6px rgba(0, 0, 0, 0.75);
    /* remove select border */
    outline: none;
}

.btn:hover {
    background-color: rgb(103, 73, 151);
    cursor: pointer;
    ;
}

.btn:active {
    background-color: rgb(103, 73, 151);
    ;
    transform: translateY(4px);
}

.delete {
    display: none;
}