body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameImage {
  max-width: 100%;
  height: 150px;
  width: 270px;
  align-self: center;
}

.gameList {
  max-width: 1400px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.gameCard {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  min-width: 300px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 10px;
}

.gameCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.gameCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eraseGameButton {
  border-radius: 5px;
  box-sizing: border-box;
  padding: 8px;
  background-color: #73626E;
  color: #FFFFFF;
  border: none;
}

.eraseGameButton:hover {
  background-color: #B38184;
  font-weight: bold;
}

.gameTitle, .gameRating {
  font-weight: bold;
}